/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family: "Anton", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* header styles*/

#top_nav {
    display: flex;
    justify-content: space-between;
    background-color: #171717;
    color: white;
    font-size: 13px;
    padding: 2vh 10vw;
}

#contato {
    display: flex;
    gap: 10px;
}

#redesocial {
    display: flex;
    gap: 10px;
}

#register {
    display: flex;
    gap: 5px;
}

#rederegister {
    display: flex;
    gap: 10px;
}

a:hover,
li:hover {
    color: red;
}


/* bottom nav styles */

#b_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 4vw;
    font-size: 11px;
}

#aba1 {
    display: flex;
    gap: 2vw;
}

#abas {
    display: flex;
    gap: 2vw;
}

#shop {
    display: flex;
    gap: 3vh;
    margin-left: 10px;
    font-size: 13px;
}

#SPANZ {
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    text-align: center;
    margin-top: -7px;
    margin-left: -5px;
    font-size: 10px;
}

#bars {
    color: red;
    font-size: 1.2rem;
    display: none;
}

#hoverbar {
    display: none;
    position: absolute;
    padding: 5px;
    width: 80px;
    color: black;
    width: 7rem;
    background-color: white;
}

#qualquercoisa:hover #hoverbar {
    display: block;
}

#qualquercoisa {
    position: relative;
    display: inline-block;
}

#top {
    display: flex;
    background-image: url(imgs/loirinhasorridente.webp);
    background-size: cover;
    justify-content: space-between;
    color: white;
}

#maintopcontent {
    margin: 30vh 0;
    font-size: 30px;
}

#nextbutton {
    background-image: url(imgs/criancinhasorridentes.webp);
    background-size: cover;
    background-position: 50% 50%;
}

#prevbutton {
    background-image: url(imgs/nerdzinha.webp);
    background-size: cover;
    background-position: 50% 50%;
}



#nextbutton,
#prevbutton {
    margin: auto 5vw;
    font-size: 2rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
    opacity: 0;
    cursor: pointer;
    filter: grayscale(100%);
}

#nextbutton:hover,
#prevbutton:hover {
    scale: 1.1;
    transition: 1s;
    filter: unset;
}

#top:hover #prevbutton,
#top:hover #nextbutton {
    visibility: unset;
    margin: auto 2vw;
    opacity: 1;
}

#maintopcontent {
    margin: 20vh 20vw 20vh 0;
    color: white;
    font-size: 1.6rem;
}

#maintopcontent h1 spam {
    display: block;
    font-size: 7rem;
    margin-top: 1.5rem 0 3rem;
}

#maintopcontent a p {
    background-color: red;
    width: max-content;
    padding: 2vh 2vw;
    font-weight: 700;
    border-radius: 5px;
    font-size: 0.8vw;
}

#maintopcontent a {
    display: block;
    width: max-content;
}

#maintopcontent a p:hover {
    color: white;
    background-color: black;
}

#course_categories{
    text-align: center;
}

#course_categories h2{
    margin-top: 6rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: red;
    letter-spacing: 1px;
}

#course_categories h1{
    font-size:3rem;
    margin: 1rem, 0;
}

#course_categories hr{
    width: 3rem;
    margin: 0 auto;
    border-top: 2px solid red;
}

#course_categories > p{
    margin: 0 27vw;
    letter-spacing: 1px;
}

#course_categories > div > div p{
    margin: 0;
}

#course_categories > div{
    display: flex;
    margin: 5rem 0 3rem;
    justify-content: center;
    gap: 2vw;
}

#course_categories > div > div{
    display: flex;
    padding: 1rem;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 11rem;
    height: 10rem;
}

#course_categories i{
    font-size: 3rem;
}

#course_categories >div > div:hover i{
    font-size: 3.5rem;
}

#course_categories > div > div:nth-child(1){
    background-color: #10c45c;
}

#course_categories > div > div:nth-child(2){
    background-color: #fdc735;
}

#course_categories > div > div:nth-child(3){
    background-color: #307ad5;
}

#course_categories > div > div:nth-child(4){
    background-color: #e948ae
}

#course_categories > div > div:nth-child(5){
    background-color: #48a7d4;
}

#course_categories > div > div:nth-child(6){
    background-color: #6fc191;
}

@media(max-width: 800px) {
    #top_nav {
        display: block;
    }

    #top_nav>* {
        justify-content: center;
    }

    #aba1 ul:nth-child(1) {
        display: none;
    }

    #bars {
        display: flex;
    }
}